html body {
  background-color: #F7DAD9;
}

html body main .content {
  margin-top: 100px;
}

html body main .content .data-filter-buttons .df-btn {
  text-align: center;
  background-color: #004747;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

html body main .content .data-filter-buttons .df-btn span {
  color: white;
}

html body main .content .data-filter-buttons .df-btn:hover {
  background-color: #292e2e;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html body main .diaries {
  padding-left: 50px;
  padding-right: 50px;
}

html body main .diaries .diary {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 50px;
  background-color: #fff;
  overflow: hidden;
}

html body main .diaries .diary .diary-tittle {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
}

html body main .diaries .diary .diary-date {
  font-size: 10pt;
  color: #292e2e;
}

html body main .diaries .diary .diary-description .read-more {
  color: red;
}

html body main .diaries .diary .diary-user {
  color: #000;
  font-size: 11pt;
  float: left;
  margin-top: 10px;
  font-weight: 500;
}

html body main .diaries .diary .diary-user i {
  color: #000;
}

html body main .diaries .diary .diary-share {
  color: #000;
  font-size: 11pt;
  float: left;
  margin-top: 10px;
  font-weight: 500;
}

html body main .diaries .diary .diary-share i {
  color: #000;
}

html body main .diaries .diary .diary-share:hover {
  cursor: pointer;
}

html body main .diaries .diary .like-bar {
  font-size: 20pt;
  font-weight: 100;
}

html body main .diaries .diary .like-bar span {
  float: right;
  margin-right: 10px;
  font-size: 18pt;
}

html body main .diaries .diary .like-bar i {
  font-size: 25pt;
  color: red;
  float: right;
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

html body main .diaries .diary .like-bar i:hover {
  color: red;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

html body main .diaries .diary .post-detail {
  position: absolute;
  background-color: #eeeeee;
  height: 317px;
  width: 300px;
  z-index: -10;
  margin-top: -40px;
  margin-left: -50px;
  border-radius: 50px;
  padding-top: 90px;
  padding-left: 30px;
  padding-right: 50px;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 25px;
}

html body main .diaries .diary .post-detail .pd-diary-name {
  text-align: left;
  font-size: 22px;
  font-weight: 700;
}

html body main .diaries .diary .post-detail .pd-user-name {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  margin-top: -20px;
}

html body main .diaries .diary .post-detail .likes {
  margin-top: 40px;
}

html body main .diaries .diary .post-detail .likes .likes-icon {
  font-size: 20pt;
  float: left;
}

html body main .diaries .diary .post-detail .likes span {
  font-size: 15pt;
  margin-left: 5px;
  line-height: -6px;
}

html body main .diaries .diary .post-detail .share {
  margin-top: 10px;
}

html body main .diaries .diary .post-detail .share .share-icon {
  font-size: 20pt;
  float: left;
}

html body main .diaries .diary .post-detail .share span {
  font-size: 14pt;
  margin-left: 5px;
  line-height: -5px;
}

html body main .diaries .diary:hover {
  -webkit-box-shadow: -9px 1px 35px -9px #a1a1a1;
  box-shadow: -9px 1px 35px -9px #a1a1a1;
}

html body main .diaries .diary:hover .post-detail {
  margin-left: -250px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

html body main .diaries .diary:hover .post-detail:hover {
  display: none;
}
/*# sourceMappingURL=style.css.map */